#comentarios{
    border-top: 1px solid green;
    max-height: 450px;
    overflow-y: auto;
}

.coment{
    border: 1px solid rgba(128, 128, 128, 0.541);
    border-radius: 1rem;
    padding: 0.5em;
    word-wrap: break-word;
}