*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#pop-up-olvidar{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 450px;
}

.tam{
    color: green;
    font-size:60px;
}
